@font-face {
    font-family: "Sansprobasic";
    src: 
        url("font/sourcesanspro-regular-webfont.woff2") format("woff2"),
        url("font/sourcesanspro-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sansprosemibold";
    src: 
        url("font/sourcesanspro-semibold-webfont.woff2") format("woff2"),
        url("font/sourcesanspro-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0px;
    font-family: "Sansprobasic", serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

ul > svg {
    position: relative;
    fill: white;
    width: 30px;
    height: 30px;
    top: 40px;
    left:15px;
}

ul > svg:hover {
    fill: black;
}

.menu1 > li:hover,
.menu2 > li:hover {
    color: black;
}

.dashboard {
    font-size: 30px;
    font-weight: bold;
    margin-left: 35px;
}

.dashicon {
    position: relative;
    fill: white;
    width: 40px;
    height: 40px;
    top: 9px;
}

ul {
    list-style-type: none;
}

.menu1, .menu2 {
    font-size: 25px;
}

.menu1 > li, .menu2 > li {
    margin-bottom: 3px;
    margin-left: 55px;
}

.home {
    position: relative;
    width: 30px;
    height: 30px;
    top: 40px; 
}

.sidebar {
    background-color: rgba(25,146,212,255);
    grid-column: 1 / 2;
    grid-row: 1 / span 5;
    color: azure;
}

.heather {
    margin: 0px;
    background-color: rgba(255,255,255,255);
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 0.5fr ;
}

.magnify {
    position: relative;
    width: 25px;
    height: 25px;
    left: 30px;
    top: 8px;
}

input {
    margin-left: 40px;
    margin-top: 20px;
    grid-column: 1 / 2 ;
    grid-row: 1 / 2 ;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(226,232,240,255);
    font: inherit;  
} 

input:focus {
    outline: none;
}

.bell {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-top: 10px;
}

.bell:hover {   
    fill: rgba(25,146,212,255);
    border-radius: 100%;
}

.imgbox {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
    right: 5px;
}

.bear {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    right: 40px;
    top: -53px;
}

.imgbox + div {
    position: relative;
    top: 10px;
}

.profile1 {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 20px;
    font-family: "Sansprosemibold", serif;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 70px;
}

.profile2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 110px;
    margin-bottom: 20px;
    font-family: "Sansprosemibold", serif;
    font-size: 27px;
    font-weight: 900;
    height: 45px;
}

.profile2 > p {
    margin:0;
    padding: 0;
    position: relative;
    bottom: 55px;
}

.greet {
    font-size: 15px;
}

.profile2 > .imgbox {
    position: relative;
    right: 60px;
    top: 7px;
}

.buttons {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-right: 70px;
    align-items: flex-end;
    margin-bottom: 30px;
}

.button1,
.button2,
.button3 {
    width: 90px;
    height: 40px;
    background-color: rgba(25,146,212,255);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

.buttons > li:hover {
    background-color: darkblue;
}

.main-content {
    background-color: rgba(226,232,240,255);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px
}

.projects {
    background-color: rgba(226,232,240,255);
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
    margin-left: 15px;
    margin-bottom: 40px;
}

.project {
    background-color: rgba(255,255,255,255);
    border-radius: 10px;
    border-left: 10px solid rgba(240,180,41,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project:hover {
    color: azure;
    background-color: lightblue;
}

.content > p {
    font-family: "Sansprosemibold", serif;
    font-weight: bold;
    font-size: 17px;
}

.content {
    margin-left: 20px;
}

.contentmenu {
    display: flex;
    align-self: flex-end;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.contentmenu > svg:hover {
    fill: rgba(25,146,212,255);
}

.side-content {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.trend-content {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 15px;
}

.name3 {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    top: -20px;
}

.name1,
.name2,
.name3 {
    font-size: 30px;
}

.name1,
.name2 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.name1 {
    margin-left: 15px;
}

.side-content > div {
    font-size: 13px;
}

.announce1 > p, 
.announce2 > p,
.announce3 > p {
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bold;
}

.announce1,
.announce2 {
    border-bottom: 2px solid gray ;
    padding-bottom: 10px;
}

.announce1, 
.announce2,
.announce3 {
    margin: 15px;
}

.trend {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.trendcontent {
    width: 120px;
}

.trend > .trendcontent > p {
    margin-bottom: 0;
    font-family: "Sansprosemibold", serif;
    font-weight: bold;
}

.trend > .imgbox {
    position: relative;
    border: 2px solid black;
    top: 18px;
    left: 15px;
}

